################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LineaSupermercado/.vs/LineaSupermercado/v15
/.vs
